/* Limpa formatações padrão */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6e6;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* 
***** Layout *****
*/

#area-cabecalho {
    /* border: 2px solid red; */
    background-color: #f7b600;
    width: auto;
    padding: 15px;
    text-align: center;
}

#area-logo {
    /* border: 2px solid red; */
    padding: 10px;
}

#area-menu {
    /* border: 2px solid red; */
    padding: 10px;
}

#area-principal {
    /* border: 1px solid red; */
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    /* border: 1px solid red; */
    width: 660px;
    float: left;
}

#area-lateral {
    /* border: 1px solid blue; */
    background-color: #ffffff;
    width: 240px;
    float: right;
}

#area-rodape {
    background: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;
}

.postagem-lateral {
    /* border: 1px solid red; */
    padding: 5px;
    font-size: 0.8em;
    border-bottom: 2px solid #ccc;
}

/*
***** Formatações em geral *****
*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover, a:active {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    /* border: 1px solid red; */
    color: #ffffff;
    font-size: 1.2em;
    padding: 10px;
}

#area-cabecalho a:hover, #area-cabecalho a:active {
    color: #f7b600;
    background: #ffffff;
    text-decoration: none;
}

.branco {
    color: #ffffff;
}

.css-titulo-postagem {
    color: #f7b600
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
}

.conteudo-lateral {
    background: #ccc;
    padding: 10px;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}